#btnTambah {
    background-color: #2E7D32;
}

.btn-primary {
    background-color: #1F3A5F;
}

.btn-danger {
    background-color: #C62828;
}

.btn-secondary {
    background-color: #4A6FA5;
}

.table th,
.table td {
    vertical-align: middle;
}
