/* Sidebar base */
.sidebar {
    background-color: #0b3a5b;
    color: #ffffff;
}

/* Menu item */
.sidebar-menu {
    display: block;
    padding: 12px;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    background-color: transparent;
    border: none;
    width: max-content;
}

/* Hover */
.sidebar-menu:hover {
    background-color: #006577;
    color: #ffffff;
}

/* Active / clicked */
.sidebar-menu.active {
    background-color: #006577;
    color: #ffffff;
}

/* Disable Bootstrap focus & border */
.sidebar-menu:focus,
.sidebar-menu:active {
    outline: none;
    box-shadow: none;
}

.sidebar-logout {
    background-color: #b71c1c;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
}

.sidebar-logout:hover {
    background-color: #8e0000;
}
